h1{
    color:rgba(16, 16, 192, 0.836);
}

h2{
    color:rgba(70, 72, 76, 0.836);
}

p {
    color: #8b8b8b;
}

button{
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
}