main {
    margin-top: 285px;
    text-align: center;
  }
  
h1{
    color:rgba(16, 16, 192, 0.836);
}

h2{
    color:rgba(70, 72, 76, 0.836);
}

p {
    color: #8b8b8b;
}

button{
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
}

.header{
    /* Top | Right | Down | Left */
    margin: 40px 20px  0 20px;

    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    height: 45px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

li {
    display: inline;
}

.logo{
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    /*text-align: right;*/
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.article {
    /* container styles if any */
    margin-left: 20px;
  }
  
  .article h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .article > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .article > form {
    display: flex;
  }
  
  .article > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
      /* justify-content: space-around; */
  }

  .video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }